<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.espasyo">
    <!-- For map functionalities -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- For uploading image functionalities -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/espasyo_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Espasyo">
        <activity
            android:name=".landlord.views.RoomDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.ViewPropertyOnMapActivity"
            android:exported="true">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/map_key" />
        </activity>
        <activity
            android:name=".landlord.views.ConfirmVerificationRequestActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.UploadBarangayBusinessPermitActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.UploadMunicipalBusinessPermitActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.ChoosePropertyToVerifyActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.EditLocationPickerActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/map_key" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".landlord.views.LocationPickerActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/map_key" />
        </activity>
        <activity
            android:name=".landlord.views.ViewRoomsToEditActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.EditRoomActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".landlord.views.EditPropertyActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".landlord.views.ChooseEditActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.AddRoomActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.PropertyDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Landlord Activities -->
        <activity
            android:name=".landlord.LandlordMainActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.AddPropertyActivity"
            android:exported="true" />
        <activity
            android:name=".landlord.views.SettingsActivity"
            android:exported="true" /> <!-- Student Activities -->
        <activity
            android:name=".student.StudentMainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.capstone.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>